In [1]:
# Importing libraries
import pandas as pd

In [2]:
# Reading population data with education level
populationDf = pd.read_excel('input/DDW-0000C-08.xlsx', names=['table','State Code','distCode','Name','TRU','agegroup','totalP','totalM','totalF','illitP','illitM','illitF','litP','litM','litF','litWoEdP','litWoEdM','litWoEdF','blwPriP','blwPriM','blwPriF','priP','priM','priF','midP','midM','midF','matrcP','matrcM','matrcF','highSecP','highSecM','highSecF','dipNTP','dipNTM','dipNTF','dipTP','dipTM','dipTF','gradP','gradM','gradF','unclassP','unclassM','unclassF','blank'])
populationDf.head(20)

,table,State Code,distCode,Name,TRU,agegroup,totalP,totalM,totalF,illitP,...,dipTP,dipTM,dipTF,gradP,gradM,gradF,unclassP,unclassM,unclassF,blank
0,Table,State,Distt.,Area Name,Total/,Age-group,Total,NaN,NaN,Illiterate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name,Code,Code,NaN,Rural/,NaN,NaN,NaN,NaN,NaN,...,Technical diploma or certificate,NaN,NaN,Graduate & above,NaN,NaN,Unclassified,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Urban/,NaN,NaN,NaN,NaN,NaN,...,not equal to degree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Persons,Males,Females,Persons,...,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females,NaN
4,NaN,NaN,NaN,NaN,NaN,1,2,3,4,5,...,32,33,34,35,36,37,38,39,40,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,C2308,00,000,INDIA,Total,All ages,1210854977,623270258,587584719,447216165,...,7238719,5354161,1884558,68288971,42120460,26168511,3031570,1647116,1384454,NaN
7,C2308,00,000,INDIA,Total,0-6,164515253,85752254,78762999,164515253,...,0,0,0,0,0,0,0,0,0,NaN
8,C2308,00,000,INDIA,Total,7,24826640,12903364,11923276,6748214,...,0,0,0,0,0,0,136465,75715,60750,NaN
9,C2308,00,000,INDIA,Total,8,26968373,14061937,12906436,4131414,...,0,0,0,0,0,0,96524,52561,43963,NaN
10,C2308,00,000,INDIA,Total,9,23424638,12214985,11209653,2491904,...,0,0,0,0,0,0,70452,38456,31996,NaN
11,C2308,00,000,INDIA,Total,10,30552107,16089436,14462671,3454505,...,0,0,0,0,0,0,85652,47423,38229,NaN
12,C2308,00,000,INDIA,Total,11,24740946,12962604,11778342,1988473,...,0,0,0,0,0,0,65030,35877,29153,NaN
13,C2308,00,000,INDIA,Total,12,27877307,14637892,13239415,2391529,...,0,0,0,0,0,0,68452,37773,30679,NaN
14,C2308,00,000,INDIA,Total,13,24280683,12563775,11716908,1810476,...,0,0,0,0,0,0,56720,30680,26040,NaN
15,C2308,00,000,INDIA,Total,14,25258169,13165128,12093041,2100785,...,0,0,0,0,0,0,58561,31901,26660,NaN
16,C2308,00,000,INDIA,Total,15,25899454,13739746,12159708,2599957,...,0,0,0,0,0,0,62039,34656,27383,NaN
17,C2308,00,000,INDIA,Total,16,24592293,13027935,11564358,2512487,...,0,0,0,0,0,0,60587,33777,26810,NaN
18,C2308,00,000,INDIA,Total,17,21217467,11349449,9868018,2038455,...,0,0,0,0,0,0,53520,30035,23485,NaN
19,C2308,00,000,INDIA,Total,18,27958147,15020851,12937296,3727975,...,374081,271491,102590,0,0,0,69648,39697,29951,NaN

In [3]:
# Preprocessing populating data
populationDf = populationDf.iloc[6:, : ]
populationDf = populationDf.astype({'State Code':int})
populationDf = populationDf[populationDf['TRU']=='Total']
populationDf = populationDf[populationDf['agegroup']=='All ages']
populationDf = populationDf[['State Code','Name','illitM','illitF','blwPriM','blwPriF','priM','priF','midM','midF','matrcM','matrcF','highSecM','highSecF','dipNTM','dipNTF','dipTM','dipTF','gradM','gradF']]
populationDf

,State Code,Name,illitM,illitF,blwPriM,blwPriF,priM,priF,midM,midF,matrcM,matrcF,highSecM,highSecF,dipNTM,dipNTF,dipTM,dipTF,gradM,gradF
6,0,INDIA,188506636,258709529,78445099,68452498,99311072,84859761,77629578,56273688,63769834,42169909,46481321,31461272,726565,345724,5354161,1884558,42120460,26168511
93,1,State - JAMMU & KASHMIR,2375991,3098078,541130,446644,719512,566397,1015129,651252,919672,492301,486800,289637,3542,1239,33854,16968,401279,252485
180,2,State - HIMACHAL PRADESH,729283,1095583,326058,285417,576764,586231,452919,373692,666498,461499,368592,293865,4077,4442,37213,16200,251164,195445
267,3,State - PUNJAB,4203409,4832792,1273936,953748,2273540,2014660,1747063,1319242,2472299,1714074,1313943,996568,11117,13170,147801,86564,873776,887070
354,4,State - CHANDIGARH,115317,134695,51211,39658,73645,56598,67964,43915,88021,54185,63200,44399,510,996,9660,4141,104748,89705
441,5,State - UTTARAKHAND,1274065,1931274,554430,480153,803056,747518,806770,600101,627977,391513,444663,310345,3102,1714,30072,6100,512068,398220
528,6,State - HARYANA,3700667,5051807,1403012,1070133,2075334,1696688,1557670,1147612,2064923,1161013,1199855,692258,17774,12840,143883,51232,1102809,774276
615,7,State - NCT OF DELHI,1792470,2257704,796975,661086,1197622,1033272,1099958,831453,1318133,868181,930296,668139,6430,6108,61852,32734,1535972,1221872
702,8,State - RAJASTHAN,11862585,18410570,4423518,3660309,6143552,4380872,4788350,2530873,3168905,1441280,1752886,762977,4801,2721,129531,35103,2086247,977035
789,9,State - UTTAR PRADESH,36245546,49169240,11763367,9661113,15505178,12293614,14276668,8846060,9748121,5389194,6820583,3986422,73327,62631,167522,22347,6378138,3541700
876,10,State - BIHAR,22670134,28924765,7308358,6393622,7625383,5529586,4930890,3038709,4785058,2481070,2584078,1255317,58956,34095,30839,4627,2326092,735584
963,11,State - SIKKIM,71801,93824,66658,49442,62664,52937,37520,32025,31220,22048,20910,15212,103,52,1187,446,19290,13379
1050,12,State - ARUNACHAL PRADESH,274044,343678,88788,76188,102518,86851,82535,63313,65757,43547,46020,28185,606,172,3573,821,36430,17176
1137,13,State - NAGALAND,300692,335376,134218,124376,170554,159804,164734,139877,96490,73035,59783,46601,323,286,3411,1523,53023,36695
1224,14,State - MANIPUR,398728,548590,123662,119904,164889,162064,251129,205903,185952,144264,125578,98999,452,153,3662,4309,135082,90538
1311,15,State - MIZORAM,116810,132221,105262,110603,108434,99016,104978,96504,46235,41918,36061,33008,103,89,1111,751,29527,20094
1398,16,State - TRIPURA,373007,496127,363853,361608,363404,335252,320040,272356,117515,83314,163371,109924,320,94,4781,1196,88621,49191
1485,17,State - MEGHALAYA,577953,603931,311818,297246,203761,209168,151272,146625,86803,73260,67422,59154,130,64,2189,1288,46311,44208
1572,18,State - ASSAM,5370804,6656795,2469904,2080535,2378849,2004541,2248173,2036838,802772,642743,1468893,1038345,3106,577,30143,6528,639241,372104
1659,19,State - WEST BENGAL,12990217,16747617,8437465,7465147,7897027,7057564,6684464,5789837,3151360,2279494,3253159,2346794,15236,4891,120335,18190,3088673,1739144
1746,20,State - JHARKHAND,6047796,8612269,2292684,2000731,2752242,2056362,1895039,1196068,1569270,904555,940065,519621,14198,8468,55953,8915,906174,422303
1833,21,State - ODISHA,6122455,9109168,3126770,2759801,4157327,3557389,3035765,2249478,1885832,1331523,1050721,687564,28452,6202,157099,31169,1174184,609613
1920,22,State - CHHATTISGARH,4025002,6140274,2011523,1675846,2267581,1924563,1825488,1376916,1003394,625093,764504,407882,2728,1135,45165,6425,659081,359772
2007,23,State - MADHYA PRADESH,12437978,17337662,5242949,4339265,6640472,5237769,5094579,3336421,2819198,1622068,2098416,1094806,6814,2918,85480,14358,2051127,1171675
2094,24,State - GUJARAT,8016387,11329947,4486708,3976121,5568559,4988442,4031450,2422485,3788353,2343644,1923817,1229749,25992,11764,455161,206240,1891932,1282226
2181,25,State - DAMAN & DIU,25658,29183,15332,11291,26048,15399,24792,10834,27874,11615,15227,7113,120,42,2226,771,8425,4377
2268,26,State - DADRA & NAGAR HAVELI,51239,69240,24482,19227,28803,19633,24919,12466,24529,9726,14623,6906,275,69,3645,1103,12227,6947
2355,27,State - MAHARASHTRA,12985472,17834571,8069806,7266014,8346143,8282058,7132530,5460199,7914102,5645739,5609011,3679511,58561,24973,680370,177997,5167671,3471410
2442,28,State - ANDHRA PRADESH,14190903,19833114,3884076,3553443,6904114,6545186,3006742,2565412,4842743,3742738,3381495,2261515,72832,21666,587970,117304,3632622,1944765
2529,29,State - KARNATAKA,8458186,11989789,3655942,3268127,4944027,4549079,2869395,2292313,2784883,2297524,3574640,2725573,159259,46956,610709,182357,2489209,1554438
2616,30,State - GOA,123317,169741,80497,80806,94300,87195,91716,74807,102298,83080,98502,80999,1160,796,24792,10802,74077,72751
2703,31,State - LAKSHADWEEP,5100,6820,4523,4887,6500,6313,5970,5335,3252,2523,4395,2783,77,35,551,302,1458,844
2790,32,State - KERALA,2322509,2947728,2076920,2324577,2522296,2543414,2590783,2469026,1906020,1946369,2307363,2577719,34264,39593,508075,387113,1131336,1399985
2877,33,State - TAMIL NADU,8097484,12212039,2861589,2767790,6479422,5845740,5087592,4520412,4540573,3652651,3405933,3023417,116345,33741,1143646,414880,3119342,2338400
2964,34,State - PUDUCHERRY,115133,175511,45162,48024,89632,98091,85255,86046,87749,74077,68217,64733,1293,911,27765,11551,79482,62547
3051,35,State - ANDAMAN & NICOBAR ISLANDS,38494,47806,22513,19616,37920,30495,39337,29283,26053,19051,18299,15232,180,121,2935,2203,13622,10537

In [4]:
pDf = pd.DataFrame(columns=['state/ut','literacy-group','Males','Females'])
# Grouping literacy-group so that they should be in same order as in language speakers data
for stCode in range(36):
    stDf = populationDf[populationDf['State Code']==stCode]
    pDf.loc[len(pDf.index)] = [stCode,'Illiterate',stDf.iloc[0]['illitM'],stDf.iloc[0]['illitF']]
    pDf.loc[len(pDf.index)] = [stCode,'Literate but below primary',stDf.iloc[0]['blwPriM'],stDf.iloc[0]['blwPriF']]
    pDf.loc[len(pDf.index)] = [stCode,'Primary but below middle',stDf.iloc[0]['priM'],stDf.iloc[0]['priF']]
    pDf.loc[len(pDf.index)] = [stCode,'Middle but below matric/secondary',stDf.iloc[0]['midM'],stDf.iloc[0]['midF']]
    pDf.loc[len(pDf.index)] = [stCode,'Matric/Secondary but below graduate',stDf.iloc[0]['matrcM']+stDf.iloc[0]['highSecM']+stDf.iloc[0]['dipNTM']+stDf.iloc[0]['dipTM'],stDf.iloc[0]['matrcF']+stDf.iloc[0]['highSecF']+stDf.iloc[0]['dipNTF']+stDf.iloc[0]['dipTF']]
    pDf.loc[len(pDf.index)] = [stCode,'Graduate and above',stDf.iloc[0]['gradM'],stDf.iloc[0]['gradF']]

pDf = pDf.reset_index(drop=True)
pDf

    state/ut                       literacy-group      Males    Females
0          0                           Illiterate  188506636  258709529
1          0           Literate but below primary   78445099   68452498
2          0             Primary but below middle   99311072   84859761
3          0    Middle but below matric/secondary   77629578   56273688
4          0  Matric/Secondary but below graduate  116331881   75861463
..       ...                                  ...        ...        ...
211       35           Literate but below primary      22513      19616
212       35             Primary but below middle      37920      30495
213       35    Middle but below matric/secondary      39337      29283
214       35  Matric/Secondary but below graduate      47467      36607
215       35                   Graduate and above      13622      10537

[216 rows x 4 columns]

In [5]:
# Reading language speakers data with literacy-group
languageDf = pd.read_excel('input/DDW-C19-0000.xlsx', names=['State Code','District','state/ut','TRU','literacy-group','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
languageDf = languageDf[languageDf['TRU']=='Total'].drop(['TRU'], axis=1)
languageDf = languageDf[(languageDf['literacy-group']!='Total') & (languageDf['literacy-group']!='Literate')].drop(['District','Persons_L2','Persons_L3'], axis=1).reset_index(drop=True)
languageDf = languageDf.astype({'State Code':int})
languageDf

,State Code,state/ut,literacy-group,Males_L2,Females_L2,Males_L3,Females_L3
0,0,INDIA,Illiterate,17851584,24414684,1890285,1989573
1,0,INDIA,Literate but below primary,16126959,13218145,2108024,1625592
2,0,INDIA,Primary but below middle,26588496,21982048,4782211,3854085
3,0,INDIA,Middle but below matric/secondary,25214857,17901804,6266289,4477061
4,0,INDIA,Matric/Secondary but below graduate,56022449,37181626,20411147,13488072
...,...,...,...,...,...,...,...
211,35,ANDAMAN & NICOBAR ISLANDS,Literate but below primary,15471,12785,1936,1631
212,35,ANDAMAN & NICOBAR ISLANDS,Primary but below middle,29491,22946,4836,3734
213,35,ANDAMAN & NICOBAR ISLANDS,Middle but below matric/secondary,31737,23203,8315,5679
214,35,ANDAMAN & NICOBAR ISLANDS,Matric/Secondary but below graduate,40105,30799,17637,13080
215,35,ANDAMAN & NICOBAR ISLANDS,Graduate and above,12380,9393,7817,5518

In [6]:
# Calculating num of males and felmales speak only one language, exactly two languages and three languages and more
languageDf['only1langM'] = pDf['Males'] - languageDf['Males_L2']
languageDf['only1langF'] = pDf['Females'] - languageDf['Females_L2']

languageDf['exact2langM'] = languageDf['Males_L2'] - languageDf['Males_L3']
languageDf['exact2langF'] = languageDf['Females_L2'] - languageDf['Females_L3']

languageDf['lang3ormoreM'] = languageDf['Males_L3']
languageDf['lang3ormoreF'] = languageDf['Females_L3']

# Calculating ratio of males and felmales to population speak only one language, exactly two languages and three languages and more
languageDf['ratioL1M'] = languageDf['only1langM']/pDf['Males']
languageDf['ratioL1F'] = languageDf['only1langF']/pDf['Females']
languageDf['ratioL2M'] = languageDf['exact2langM']/pDf['Males']
languageDf['ratioL2F'] = languageDf['exact2langF']/pDf['Females']
languageDf['ratioL3M'] = languageDf['lang3ormoreM']/pDf['Males']
languageDf['ratioL3F'] = languageDf['lang3ormoreF']/pDf['Females']

languageDf

,State Code,state/ut,literacy-group,Males_L2,Females_L2,Males_L3,Females_L3,only1langM,only1langF,exact2langM,exact2langF,lang3ormoreM,lang3ormoreF,ratioL1M,ratioL1F,ratioL2M,ratioL2F,ratioL3M,ratioL3F
0,0,INDIA,Illiterate,17851584,24414684,1890285,1989573,170655052,234294845,15961299,22425111,1890285,1989573,0.9053,0.905629,0.084672,0.086681,0.010028,0.00769
1,0,INDIA,Literate but below primary,16126959,13218145,2108024,1625592,62318140,55234353,14018935,11592553,2108024,1625592,0.794417,0.8069,0.17871,0.169352,0.026873,0.023748
2,0,INDIA,Primary but below middle,26588496,21982048,4782211,3854085,72722576,62877713,21806285,18127963,4782211,3854085,0.732271,0.74096,0.219576,0.213623,0.048154,0.045417
3,0,INDIA,Middle but below matric/secondary,25214857,17901804,6266289,4477061,52414721,38371884,18948568,13424743,6266289,4477061,0.67519,0.68188,0.24409,0.238562,0.08072,0.079559
4,0,INDIA,Matric/Secondary but below graduate,56022449,37181626,20411147,13488072,60309432,38679837,35611302,23693554,20411147,13488072,0.518426,0.509875,0.306118,0.312327,0.175456,0.177799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,35,ANDAMAN & NICOBAR ISLANDS,Literate but below primary,15471,12785,1936,1631,7042,6831,13535,11154,1936,1631,0.312797,0.348236,0.601208,0.568617,0.085995,0.083146
212,35,ANDAMAN & NICOBAR ISLANDS,Primary but below middle,29491,22946,4836,3734,8429,7549,24655,19212,4836,3734,0.222284,0.247549,0.650185,0.630005,0.127532,0.122446
213,35,ANDAMAN & NICOBAR ISLANDS,Middle but below matric/secondary,31737,23203,8315,5679,7600,6080,23422,17524,8315,5679,0.193202,0.207629,0.595419,0.598436,0.211379,0.193935
214,35,ANDAMAN & NICOBAR ISLANDS,Matric/Secondary but below graduate,40105,30799,17637,13080,7362,5808,22468,17719,17637,13080,0.155097,0.158658,0.473339,0.484033,0.371563,0.357309
215,35,ANDAMAN & NICOBAR ISLANDS,Graduate and above,12380,9393,7817,5518,1242,1144,4563,3875,7817,5518,0.091176,0.10857,0.334973,0.367752,0.573851,0.523678

In [7]:
literacyIndiaL3Df = pd.DataFrame(columns=['state/ut','literacy-group-males','ratio-males','literacy-group-females','ratio-females'])
# Finding literacy-group from india and each state with highest percentage of people speaking three languages or more for males and females
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL3M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL3F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    literacyIndiaL3Df.loc[len(literacyIndiaL3Df.index)] = [stCode,stMDf.iloc[0]['literacy-group'],stMDf.iloc[0]['ratioL3M'],stFDf.iloc[0]['literacy-group'],stFDf.iloc[0]['ratioL3F']]

literacyIndiaL3Df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Graduate and above,0.316151,Graduate and above,0.337433
1,1,Graduate and above,0.669791,Graduate and above,0.680314
2,2,Graduate and above,0.152538,Graduate and above,0.152457
3,3,Graduate and above,0.767517,Graduate and above,0.765537
4,4,Graduate and above,0.685636,Graduate and above,0.705212
5,5,Graduate and above,0.071985,Graduate and above,0.073002
6,6,Graduate and above,0.169245,Graduate and above,0.196280
7,7,Graduate and above,0.232764,Graduate and above,0.247149
8,8,Graduate and above,0.076426,Graduate and above,0.086324
9,9,Graduate and above,0.064937,Graduate and above,0.069244
10,10,Graduate and above,0.085916,Graduate and above,0.084491
11,11,Graduate and above,0.760498,Graduate and above,0.791838
12,12,Graduate and above,0.714686,Graduate and above,0.716931
13,13,Graduate and above,0.707863,Graduate and above,0.695980
14,14,Graduate and above,0.663693,Graduate and above,0.621187
15,15,Graduate and above,0.276086,Graduate and above,0.209615
16,16,Graduate and above,0.351565,Graduate and above,0.313940
17,17,Graduate and above,0.507180,Graduate and above,0.429673
18,18,Graduate and above,0.638794,Graduate and above,0.600356
19,19,Graduate and above,0.244607,Graduate and above,0.244835
20,20,Graduate and above,0.193147,Graduate and above,0.217443
21,21,Graduate and above,0.673253,Graduate and above,0.655997
22,22,Graduate and above,0.098255,Graduate and above,0.129118
23,23,Graduate and above,0.108597,Graduate and above,0.117693
24,24,Graduate and above,0.700751,Graduate and above,0.670003
25,25,Graduate and above,0.532344,Graduate and above,0.579392
26,26,Graduate and above,0.502658,Graduate and above,0.548726
27,27,Graduate and above,0.642005,Graduate and above,0.656895
28,28,Graduate and above,0.375135,Graduate and above,0.362510
29,29,Graduate and above,0.481490,Graduate and above,0.501979
30,30,Graduate and above,0.805702,Graduate and above,0.804937
31,31,Graduate and above,0.709191,Graduate and above,0.610190
32,32,Graduate and above,0.429095,Graduate and above,0.353019
33,33,Graduate and above,0.153287,Graduate and above,0.145446
34,34,Graduate and above,0.217898,Graduate and above,0.204870
35,35,Graduate and above,0.573851,Graduate and above,0.523678

In [8]:
literacyIndiaL2Df = pd.DataFrame(columns=['state/ut','literacy-group-males','ratio-males','literacy-group-females','ratio-females'])
# Finding literacy-group from india and each state with highest percentage of people speaking exactly two languages for males and females
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL2M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL2F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    literacyIndiaL2Df.loc[len(literacyIndiaL2Df.index)] = [stCode,stMDf.iloc[0]['literacy-group'],stMDf.iloc[0]['ratioL2M'],stFDf.iloc[0]['literacy-group'],stFDf.iloc[0]['ratioL2F']]

literacyIndiaL2Df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Graduate and above,0.355390,Graduate and above,0.376113
1,1,Middle but below matric/secondary,0.594151,Middle but below matric/secondary,0.583226
2,2,Graduate and above,0.219609,Graduate and above,0.240272
3,3,Middle but below matric/secondary,0.337453,Middle but below matric/secondary,0.337852
4,4,Matric/Secondary but below graduate,0.329628,Middle but below matric/secondary,0.353068
5,5,Graduate and above,0.343732,Graduate and above,0.354939
6,6,Graduate and above,0.442299,Graduate and above,0.472862
7,7,Graduate and above,0.634521,Graduate and above,0.632253
8,8,Graduate and above,0.292334,Graduate and above,0.362975
9,9,Graduate and above,0.403103,Graduate and above,0.433187
10,10,Graduate and above,0.277969,Graduate and above,0.311809
11,11,Primary but below middle,0.471962,Primary but below middle,0.447626
12,12,Literate but below primary,0.501836,Literate but below primary,0.513165
13,13,Primary but below middle,0.492079,Primary but below middle,0.518272
14,14,Middle but below matric/secondary,0.380605,Matric/Secondary but below graduate,0.367819
15,15,Graduate and above,0.614996,Graduate and above,0.675127
16,16,Matric/Secondary but below graduate,0.400483,Graduate and above,0.365270
17,17,Matric/Secondary but below graduate,0.400086,Graduate and above,0.462337
18,18,Primary but below middle,0.405712,Primary but below middle,0.389562
19,19,Graduate and above,0.352890,Graduate and above,0.356559
20,20,Graduate and above,0.353659,Graduate and above,0.399280
21,21,Middle but below matric/secondary,0.294310,Matric/Secondary but below graduate,0.282474
22,22,Graduate and above,0.228917,Graduate and above,0.295320
23,23,Graduate and above,0.392929,Graduate and above,0.429425
24,24,Middle but below matric/secondary,0.544774,Middle but below matric/secondary,0.537277
25,25,Matric/Secondary but below graduate,0.416683,Middle but below matric/secondary,0.550489
26,26,Literate but below primary,0.508823,Literate but below primary,0.546523
27,27,Middle but below matric/secondary,0.511579,Middle but below matric/secondary,0.494496
28,28,Graduate and above,0.368235,Graduate and above,0.376179
29,29,Matric/Secondary but below graduate,0.325712,Matric/Secondary but below graduate,0.326569
30,30,Literate but below primary,0.475980,Literate but below primary,0.492154
31,31,Matric/Secondary but below graduate,0.236254,Graduate and above,0.257109
32,32,Graduate and above,0.378123,Graduate and above,0.388279
33,33,Graduate and above,0.597716,Graduate and above,0.604541
34,34,Graduate and above,0.635704,Graduate and above,0.637281
35,35,Primary but below middle,0.650185,Primary but below middle,0.630005

In [9]:
literacyIndiaL1Df = pd.DataFrame(columns=['state/ut','literacy-group-males','ratio-males','literacy-group-females','ratio-females'])
# Finding literacy-group from india and each state with highest percentage of people speaking only one language for males and females
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL1M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL1F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    literacyIndiaL1Df.loc[len(literacyIndiaL1Df.index)] = [stCode,stMDf.iloc[0]['literacy-group'],stMDf.iloc[0]['ratioL1M'],stFDf.iloc[0]['literacy-group'],stFDf.iloc[0]['ratioL1F']]

literacyIndiaL1Df

,state/ut,literacy-group-males,ratio-males,literacy-group-females,ratio-females
0,0,Illiterate,0.905300,Illiterate,0.905629
1,1,Illiterate,0.855547,Illiterate,0.863962
2,2,Illiterate,0.950251,Illiterate,0.950697
3,3,Illiterate,0.937055,Illiterate,0.940017
4,4,Illiterate,0.915719,Illiterate,0.896151
5,5,Illiterate,0.918709,Illiterate,0.924720
6,6,Illiterate,0.953701,Illiterate,0.954443
7,7,Illiterate,0.930012,Illiterate,0.924086
8,8,Illiterate,0.967450,Illiterate,0.966512
9,9,Illiterate,0.964954,Illiterate,0.966821
10,10,Illiterate,0.908009,Illiterate,0.907805
11,11,Illiterate,0.738736,Illiterate,0.719603
12,12,Illiterate,0.639328,Illiterate,0.636261
13,13,Illiterate,0.761055,Illiterate,0.773764
14,14,Illiterate,0.828264,Illiterate,0.837110
15,15,Illiterate,0.924647,Illiterate,0.928491
16,16,Illiterate,0.836641,Illiterate,0.805153
17,17,Illiterate,0.915355,Illiterate,0.923029
18,18,Illiterate,0.697787,Illiterate,0.712778
19,19,Illiterate,0.921238,Illiterate,0.920569
20,20,Illiterate,0.832870,Illiterate,0.823545
21,21,Illiterate,0.850540,Illiterate,0.856599
22,22,Illiterate,0.917962,Illiterate,0.926049
23,23,Illiterate,0.931703,Illiterate,0.935977
24,24,Illiterate,0.920295,Illiterate,0.924797
25,25,Illiterate,0.902603,Illiterate,0.889970
26,26,Illiterate,0.692500,Illiterate,0.651430
27,27,Illiterate,0.827984,Illiterate,0.823501
28,28,Illiterate,0.889767,Illiterate,0.888555
29,29,Illiterate,0.803776,Illiterate,0.790211
30,30,Illiterate,0.762904,Illiterate,0.733111
31,31,Illiterate,0.969020,Illiterate,0.988416
32,32,Illiterate,0.975560,Illiterate,0.973047
33,33,Illiterate,0.911994,Illiterate,0.903654
34,34,Illiterate,0.976132,Illiterate,0.975204
35,35,Illiterate,0.720684,Illiterate,0.711752

In [10]:
# Generating output csv file from datframe
literacyIndiaL3Df.to_csv('literacy-gender-a.csv',index=False)
literacyIndiaL2Df.to_csv('literacy-gender-b.csv',index=False)
literacyIndiaL1Df.to_csv('literacy-gender-c.csv',index=False)