In [11]:
import pandas as pd

In [12]:
populationDf = pd.read_excel('input/DDW_PCA0000_2011_Indiastatedist.xlsx')
populationDf = populationDf[['State','Level','Name','TRU','TOT_P']]
populationDf = populationDf[populationDf['TRU']=='Total'].drop(['TRU'], axis=1)
populationDf['Name'] = populationDf['Name'].str.upper()
populationDf = populationDf[(populationDf['Level']=='India') | (populationDf['Level']=='STATE')].drop(['Level'], axis=1).reset_index(drop=True)
populationDf

    State                       Name       TOT_P
0       0                      INDIA  1210854977
1       1            JAMMU & KASHMIR    12541302
2       2           HIMACHAL PRADESH     6864602
3       3                     PUNJAB    27743338
4       4                 CHANDIGARH     1055450
5       5                UTTARAKHAND    10086292
6       6                    HARYANA    25351462
7       7               NCT OF DELHI    16787941
8       8                  RAJASTHAN    68548437
9       9              UTTAR PRADESH   199812341
10     10                      BIHAR   104099452
11     11                     SIKKIM      610577
12     12          ARUNACHAL PRADESH     1383727
13     13                   NAGALAND     1978502
14     14                    MANIPUR     2855794
15     15                    MIZORAM     1097206
16     16                    TRIPURA     3673917
17     17                  MEGHALAYA     2966889
18     18                      ASSAM    31205576
19     19                WEST BENGAL    91276115
20     20                  JHARKHAND    32988134
21     21                     ODISHA    41974218
22     22               CHHATTISGARH    25545198
23     23             MADHYA PRADESH    72626809
24     24                    GUJARAT    60439692
25     25                DAMAN & DIU      243247
26     26       DADRA & NAGAR HAVELI      343709
27     27                MAHARASHTRA   112374333
28     28             ANDHRA PRADESH    84580777
29     29                  KARNATAKA    61095297
30     30                        GOA     1458545
31     31                LAKSHADWEEP       64473
32     32                     KERALA    33406061
33     33                 TAMIL NADU    72147030
34     34                 PUDUCHERRY     1247953
35     35  ANDAMAN & NICOBAR ISLANDS      380581

In [13]:
languageDf = pd.read_excel('input/DDW-C18-0000.xlsx', names=['state-code','District','State Name','TRU','Age_Group','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
languageDf = languageDf[languageDf['TRU']=='Total'].drop(['TRU'], axis=1)
languageDf = languageDf[languageDf['Age_Group']=='Total'].drop(['District','Age_Group','Males_L2','Females_L2','Males_L3','Females_L3'], axis=1).reset_index(drop=True)
languageDf = languageDf.astype({'state-code':int})
languageDf

    state-code                 State Name Persons_L2 Persons_L3
0            0                      INDIA  314988770   86009580
1            1            JAMMU & KASHMIR    6183190    2096220
2            2           HIMACHAL PRADESH    1242705     347286
3            3                     PUNJAB   13035224    7829913
4            4                 CHANDIGARH     579920     321979
5            5                UTTARAKHAND    1757756     187822
6            6                    HARYANA    5627361    1170571
7            7               NCT OF DELHI    6817214    1358233
8            8                  RAJASTHAN    7473186    1006751
9            9              UTTAR PRADESH   22873609    2585664
10          10                      BIHAR   16761785    1682572
11          11                     SIKKIM     388999     181402
12          12          ARUNACHAL PRADESH     885945     418551
13          13                   NAGALAND    1229723     537481
14          14                    MANIPUR    1388620     616818
15          15                    MIZORAM     309703      52966
16          16                    TRIPURA    1268601     198577
17          17                  MEGHALAYA     822320     274931
18          18                      ASSAM   14460591    4352497
19          19                WEST BENGAL   15025848    2881005
20          20                  JHARKHAND   10000720    1593039
21          21                     ODISHA   13825024    5525278
22          22               CHHATTISGARH    3384223     422569
23          23             MADHYA PRADESH    9808682    1257953
24          24                    GUJARAT   25892341    8570571
25          25                DAMAN & DIU     116629      34602
26          26       DADRA & NAGAR HAVELI     198983      71516
27          27                MAHARASHTRA   57419861   19724729
28          28             ANDHRA PRADESH   21583334    6344376
29          29                  KARNATAKA   24252594    7832129
30          30                        GOA    1126152     741249
31          31                LAKSHADWEEP      18553       9981
32          32                     KERALA    8163387    3188813
33          33                 TAMIL NADU   20416270    2447163
34          34                 PUDUCHERRY     392292      71665
35          35  ANDAMAN & NICOBAR ISLANDS     257425      72708

In [14]:
languageDf['Only1Lang'] = populationDf['TOT_P'] - languageDf['Persons_L2']
languageDf['Exact2Lang'] = languageDf['Persons_L2'] - languageDf['Persons_L3']
languageDf['Lang3orMore'] = populationDf['TOT_P'] - languageDf['Only1Lang'] - languageDf['Exact2Lang']
languageDf

,state-code,State Name,Persons_L2,Persons_L3,Only1Lang,Exact2Lang,Lang3orMore
0,0,INDIA,314988770,86009580,895866207,228979190,86009580
1,1,JAMMU & KASHMIR,6183190,2096220,6358112,4086970,2096220
2,2,HIMACHAL PRADESH,1242705,347286,5621897,895419,347286
3,3,PUNJAB,13035224,7829913,14708114,5205311,7829913
4,4,CHANDIGARH,579920,321979,475530,257941,321979
5,5,UTTARAKHAND,1757756,187822,8328536,1569934,187822
6,6,HARYANA,5627361,1170571,19724101,4456790,1170571
7,7,NCT OF DELHI,6817214,1358233,9970727,5458981,1358233
8,8,RAJASTHAN,7473186,1006751,61075251,6466435,1006751
9,9,UTTAR PRADESH,22873609,2585664,176938732,20287945,2585664
10,10,BIHAR,16761785,1682572,87337667,15079213,1682572
11,11,SIKKIM,388999,181402,221578,207597,181402
12,12,ARUNACHAL PRADESH,885945,418551,497782,467394,418551
13,13,NAGALAND,1229723,537481,748779,692242,537481
14,14,MANIPUR,1388620,616818,1467174,771802,616818
15,15,MIZORAM,309703,52966,787503,256737,52966
16,16,TRIPURA,1268601,198577,2405316,1070024,198577
17,17,MEGHALAYA,822320,274931,2144569,547389,274931
18,18,ASSAM,14460591,4352497,16744985,10108094,4352497
19,19,WEST BENGAL,15025848,2881005,76250267,12144843,2881005
20,20,JHARKHAND,10000720,1593039,22987414,8407681,1593039
21,21,ODISHA,13825024,5525278,28149194,8299746,5525278
22,22,CHHATTISGARH,3384223,422569,22160975,2961654,422569
23,23,MADHYA PRADESH,9808682,1257953,62818127,8550729,1257953
24,24,GUJARAT,25892341,8570571,34547351,17321770,8570571
25,25,DAMAN & DIU,116629,34602,126618,82027,34602
26,26,DADRA & NAGAR HAVELI,198983,71516,144726,127467,71516
27,27,MAHARASHTRA,57419861,19724729,54954472,37695132,19724729
28,28,ANDHRA PRADESH,21583334,6344376,62997443,15238958,6344376
29,29,KARNATAKA,24252594,7832129,36842703,16420465,7832129
30,30,GOA,1126152,741249,332393,384903,741249
31,31,LAKSHADWEEP,18553,9981,45920,8572,9981
32,32,KERALA,8163387,3188813,25242674,4974574,3188813
33,33,TAMIL NADU,20416270,2447163,51730760,17969107,2447163
34,34,PUDUCHERRY,392292,71665,855661,320627,71665
35,35,ANDAMAN & NICOBAR ISLANDS,257425,72708,123156,184717,72708

In [15]:
languageDf['percent-one'] = (languageDf['Only1Lang']/populationDf['TOT_P'])*100
languageDf['percent-two'] = (languageDf['Exact2Lang']/populationDf['TOT_P'])*100
languageDf['percent-three'] = (languageDf['Lang3orMore']/populationDf['TOT_P'])*100
languageDf = languageDf.drop(['State Name','Persons_L2','Persons_L3','Only1Lang','Exact2Lang','Lang3orMore'], axis=1)
languageDf

    state-code percent-one percent-two percent-three
0            0   73.986251   18.910538      7.103211
1            1   50.697384   32.588084     16.714533
2            2   81.896911   13.044005      5.059084
3            3    53.01494   18.762382     28.222678
4            4   45.054716    24.43896     30.506324
5            5   82.572823   15.565026      1.862151
6            6   77.802617   17.580012      4.617371
7            7   59.392197   32.517275      8.090528
8            8   89.097948    9.433381      1.468671
9            9   88.552454   10.153499      1.294046
10          10   83.898297   14.485391      1.616312
11          11   36.289936   34.000134      29.70993
12          12   35.974004   33.777906     30.248091
13          13   37.845754   34.988188     27.166058
14          14   51.375344   27.025829     21.598827
15          15   71.773486   23.399161      4.827352
16          16   65.470069   29.124882      5.405049
17          17   72.283426   18.449932      9.266643
18          18   53.660234   32.391948     13.947818
19          19   83.538029   13.305609      3.156362
20          20   69.683887   25.486986      4.829127
21          21   67.063058   19.773438     13.163504
22          22   86.752019    11.59378      1.654201
23          23   86.494406   11.773516      1.732078
24          24   57.160038   28.659593     14.180368
25          25   52.053263    33.72169     14.225047
26          26   42.107131   37.085732     20.807136
27          27   48.903046   33.544254       17.5527
28          28   74.481987   18.017047      7.500967
29          29   60.303665   26.876807     12.819528
30          30   22.789355   26.389518     50.821127
31          31   71.223613   13.295488     15.480899
32          32   75.563156   14.891232      9.545612
33          33   71.701857   24.906232      3.391911
34          34   68.565162   25.692234      5.742604
35          35   32.359997   48.535529     19.104474

In [16]:
languageDf.to_csv('percent-india.csv', index=False)