In [1]:
import pandas as pd

In [2]:
populationDf = pd.read_excel('input/DDW-0000C-14.xls', names=['tableName','State Code','District','state/ut','agegroup','Persons','Males','Females','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
populationDf = populationDf[['State Code','state/ut','agegroup','Males','Females']]
populationDf = populationDf.iloc[6:, : ]
populationDf = populationDf.astype({'State Code':int})
populationDf = populationDf[populationDf.agegroup != '0-4']
populationDf.head(20)

,State Code,state/ut,agegroup,Males,Females
6,0,India,All ages,623270258,587584719
8,0,India,5-9,66300466,60627660
9,0,India,10-14,69418835,63290377
10,0,India,15-19,63982396,56544053
11,0,India,20-24,57584693,53839529
12,0,India,25-29,51344208,50069757
13,0,India,30-34,44660674,43934277
14,0,India,35-39,42919381,42221303
15,0,India,40-44,37545386,34892726
16,0,India,45-49,32138114,30180213
17,0,India,50-54,25843266,23225988
18,0,India,55-59,19456012,19690043
19,0,India,60-64,18701749,18961958
20,0,India,65-69,12944326,13510657
21,0,India,70-74,9651499,9557343
22,0,India,75-79,4490603,4741900
23,0,India,80+,5283695,6005310
24,0,India,Age not stated,2372881,2116921
25,1,State - JAMMU & KASHMIR (01),All ages,6640662,5900640
27,1,State - JAMMU & KASHMIR (01),5-9,746818,665155

In [3]:
pDf = pd.DataFrame()
for stCode in range(36):
    stDf = populationDf[populationDf['State Code'] == stCode]
    stDf = stDf.reset_index(drop=True)
    stDf.loc[6,'Males'] = stDf[(stDf.agegroup == '30-34') | (stDf.agegroup == '35-39') | (stDf.agegroup == '40-44') | (stDf.agegroup == '45-49')]['Males'].sum()
    stDf.loc[6,'Females'] = stDf[(stDf.agegroup == '30-34') | (stDf.agegroup == '35-39') | (stDf.agegroup == '40-44') | (stDf.agegroup == '45-49')]['Females'].sum()
    stDf.loc[6,'agegroup'] = '30-49'
    stDf.loc[10,'Males'] = stDf[(stDf.agegroup == '50-54') | (stDf.agegroup == '55-59') | (stDf.agegroup == '60-64') | (stDf.agegroup == '65-69')]['Males'].sum()
    stDf.loc[10,'Females'] = stDf[(stDf.agegroup == '50-54') | (stDf.agegroup == '55-59') | (stDf.agegroup == '60-64') | (stDf.agegroup == '65-69')]['Females'].sum()
    stDf.loc[10,'agegroup'] = '50-69'
    stDf.loc[14,'Males'] = stDf[(stDf.agegroup == '70-74') | (stDf.agegroup == '75-79') | (stDf.agegroup == '80+')]['Males'].sum()
    stDf.loc[14,'Females'] = stDf[(stDf.agegroup == '70-74') | (stDf.agegroup == '75-79') | (stDf.agegroup == '80+')]['Females'].sum()
    stDf.loc[14,'agegroup'] = '70+'
    stDf = stDf[(stDf.agegroup != 'All ages') & (stDf.agegroup != '35-39') & (stDf.agegroup != '40-44') & (stDf.agegroup != '45-49') & (stDf.agegroup != '55-59') & (stDf.agegroup != '60-64') & (stDf.agegroup != '65-69') & (stDf.agegroup != '75-79') & (stDf.agegroup != '80+')]
    pDf = pd.concat([pDf,stDf])

pDf = pDf.reset_index(drop=True)
pDf

,State Code,state/ut,agegroup,Males,Females
0,0,India,5-9,66300466,60627660
1,0,India,10-14,69418835,63290377
2,0,India,15-19,63982396,56544053
3,0,India,20-24,57584693,53839529
4,0,India,25-29,51344208,50069757
...,...,...,...,...,...
319,35,State - ANDAMAN & NICOBAR ISLANDS (35),25-29,22230,19492
320,35,State - ANDAMAN & NICOBAR ISLANDS (35),30-49,64612,54549
321,35,State - ANDAMAN & NICOBAR ISLANDS (35),50-69,26817,20875
322,35,State - ANDAMAN & NICOBAR ISLANDS (35),70+,4952,3870
323,35,State - ANDAMAN & NICOBAR ISLANDS (35),Age not stated,195,173

In [4]:
languageDf = pd.read_excel('input/DDW-C18-0000.xlsx', names=['State Code','District','state/ut','TRU','age-group','Persons_L2','Males_L2','Females_L2','Persons_L3','Males_L3','Females_L3'])
languageDf = languageDf[languageDf['TRU']=='Total'].drop(['TRU'], axis=1)
languageDf = languageDf[languageDf['age-group']!='Total'].drop(['District','Persons_L2','Persons_L3'], axis=1).reset_index(drop=True)
languageDf = languageDf.astype({'State Code':int})
languageDf

,State Code,state/ut,age-group,Males_L2,Females_L2,Males_L3,Females_L3
0,0,INDIA,5-9,8166843,7482349,978151,865957
1,0,INDIA,10-14,18133423,16355069,3831131,3423204
2,0,INDIA,15-19,22750908,19673691,6792766,5833951
3,0,INDIA,20-24,22386694,18957712,7067614,5766720
4,0,INDIA,25-29,19695033,16229012,6144045,4713126
...,...,...,...,...,...,...,...
319,35,ANDAMAN & NICOBAR ISLANDS,25-29,17622,14987,5320,4396
320,35,ANDAMAN & NICOBAR ISLANDS,30-49,51816,40087,16469,10611
321,35,ANDAMAN & NICOBAR ISLANDS,50-69,20054,12303,5517,2286
322,35,ANDAMAN & NICOBAR ISLANDS,70+,3115,1606,579,192
323,35,ANDAMAN & NICOBAR ISLANDS,Age not stated,126,101,35,29

In [5]:
languageDf['only1langM'] = pDf['Males'] - languageDf['Males_L2']
languageDf['only1langF'] = pDf['Females'] - languageDf['Females_L2']

languageDf['exact2langM'] = languageDf['Males_L2'] - languageDf['Males_L3']
languageDf['exact2langF'] = languageDf['Females_L2'] - languageDf['Females_L3']

languageDf['lang3ormoreM'] = languageDf['Males_L3']
languageDf['lang3ormoreF'] = languageDf['Females_L3']

languageDf['ratioL1M'] = languageDf['only1langM']/pDf['Males']
languageDf['ratioL1F'] = languageDf['only1langF']/pDf['Females']
languageDf['ratioL2M'] = languageDf['exact2langM']/pDf['Males']
languageDf['ratioL2F'] = languageDf['exact2langF']/pDf['Females']
languageDf['ratioL3M'] = languageDf['lang3ormoreM']/pDf['Males']
languageDf['ratioL3F'] = languageDf['lang3ormoreF']/pDf['Females']

languageDf

,State Code,state/ut,age-group,Males_L2,Females_L2,Males_L3,Females_L3,only1langM,only1langF,exact2langM,exact2langF,lang3ormoreM,lang3ormoreF,ratioL1M,ratioL1F,ratioL2M,ratioL2F,ratioL3M,ratioL3F
0,0,INDIA,5-9,8166843,7482349,978151,865957,58133623,53145311,7188692,6616392,978151,865957,0.876821,0.876585,0.108426,0.109132,0.014753,0.014283
1,0,INDIA,10-14,18133423,16355069,3831131,3423204,51285412,46935308,14302292,12931865,3831131,3423204,0.738782,0.741587,0.206029,0.204326,0.055189,0.054087
2,0,INDIA,15-19,22750908,19673691,6792766,5833951,41231488,36870362,15958142,13839740,6792766,5833951,0.644419,0.652064,0.249415,0.24476,0.106166,0.103175
3,0,INDIA,20-24,22386694,18957712,7067614,5766720,35197999,34881817,15319080,13190992,7067614,5766720,0.611239,0.647885,0.266027,0.245006,0.122734,0.107109
4,0,INDIA,25-29,19695033,16229012,6144045,4713126,31649175,33840745,13550988,11515886,6144045,4713126,0.616412,0.675872,0.263924,0.229997,0.119664,0.094131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,35,ANDAMAN & NICOBAR ISLANDS,25-29,17622,14987,5320,4396,4608,4505,12302,10591,5320,4396,0.207287,0.23112,0.553396,0.543351,0.239316,0.225528
320,35,ANDAMAN & NICOBAR ISLANDS,30-49,51816,40087,16469,10611,12796,14462,35347,29476,16469,10611,0.198044,0.265119,0.547066,0.540358,0.254891,0.194522
321,35,ANDAMAN & NICOBAR ISLANDS,50-69,20054,12303,5517,2286,6763,8572,14537,10017,5517,2286,0.252191,0.410635,0.542082,0.479856,0.205728,0.109509
322,35,ANDAMAN & NICOBAR ISLANDS,70+,3115,1606,579,192,1837,2264,2536,1414,579,192,0.370961,0.585013,0.512116,0.365375,0.116922,0.049612
323,35,ANDAMAN & NICOBAR ISLANDS,Age not stated,126,101,35,29,69,72,91,72,35,29,0.353846,0.416185,0.466667,0.416185,0.179487,0.16763

In [6]:
ageIndiaL3Df = pd.DataFrame(columns=['state/ut','age-group-males','ratio-males','age-group-females','ratio-females'])
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL3M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL3F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    ageIndiaL3Df.loc[len(ageIndiaL3Df.index)] = [stCode,stMDf.iloc[0]['age-group'],stMDf.iloc[0]['ratioL3M'],stFDf.iloc[0]['age-group'],stFDf.iloc[0]['ratioL3F']]

ageIndiaL3Df

   state/ut age-group-males  ratio-males age-group-females  ratio-females
0         0           20-24     0.122734             20-24       0.107109
1         1           20-24     0.317513             20-24       0.272289
2         2           20-24     0.083464             15-19       0.080732
3         3           15-19     0.446176             15-19       0.472069
4         4             70+     0.538880             15-19       0.424175
5         5           20-24     0.034273             20-24       0.027630
6         6           20-24     0.073585             15-19       0.073951
7         7             70+     0.203584             50-69       0.120097
8         8           20-24     0.032170             15-19       0.025576
9         9           20-24     0.025913             20-24       0.022732
10       10           20-24     0.031443             15-19       0.028679
11       11           15-19     0.437026             15-19       0.479614
12       12           15-19     0.480533             15-19       0.471169
13       13           25-29     0.421940             20-24       0.390252
14       14           30-49     0.352224             20-24       0.291086
15       15           30-49     0.101009             25-29       0.056303
16       16           25-29     0.100840             20-24       0.065508
17       17           30-49     0.183675             20-24       0.128277
18       18           30-49     0.239542             15-19       0.185952
19       19           50-69     0.060462             20-24       0.037846
20       20           20-24     0.083440             15-19       0.069338
21       21           20-24     0.249141             15-19       0.210129
22       22           30-49     0.026553             20-24       0.020936
23       23           20-24     0.031203             15-19       0.028724
24       24           15-19     0.258126             15-19       0.218742
25       25           50-69     0.223430             15-19       0.259195
26       26           10-14     0.329725             15-19       0.358171
27       27           20-24     0.285348             15-19       0.262631
28       28           20-24     0.143784             15-19       0.127302
29       29           25-29     0.193887             20-24       0.166122
30       30           15-19     0.662455             15-19       0.701468
31       31           25-29     0.266986             20-24       0.257070
32       32           20-24     0.167393             20-24       0.171422
33       33           25-29     0.048127             20-24       0.043725
34       34           50-69     0.097906             20-24       0.077331
35       35           15-19     0.277134             15-19       0.298794

In [7]:
ageIndiaL2Df = pd.DataFrame(columns=['state/ut','age-group-males','ratio-males','age-group-females','ratio-females'])
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL2M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL2F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    ageIndiaL2Df.loc[len(ageIndiaL2Df.index)] = [stCode,stMDf.iloc[0]['age-group'],stMDf.iloc[0]['ratioL2M'],stFDf.iloc[0]['age-group'],stFDf.iloc[0]['ratioL2F']]

ageIndiaL2Df

   state/ut age-group-males  ratio-males age-group-females  ratio-females
0         0           20-24     0.266027             20-24       0.245006
1         1           10-14     0.491022             10-14       0.473909
2         2           25-29     0.168465             20-24       0.153183
3         3           10-14     0.264767             10-14       0.265602
4         4           30-49     0.289201               70+       0.305369
5         5           20-24     0.242618             20-24       0.203420
6         6           20-24     0.259946             20-24       0.243538
7         7           20-24     0.434504             20-24       0.432642
8         8           20-24     0.144275             15-19       0.121282
9         9           20-24     0.178002             20-24       0.155031
10       10           20-24     0.201162             15-19       0.188476
11       11           30-49     0.404535    Age not stated       0.378479
12       12           10-14     0.417198             10-14       0.420322
13       13           15-19     0.412106             30-49       0.442613
14       14           15-19     0.351708             15-19       0.345547
15       15           20-24     0.352536             15-19       0.347105
16       16           25-29     0.374674             15-19       0.361689
17       17           20-24     0.268866             15-19       0.275806
18       18           25-29     0.402302             10-14       0.390182
19       19           25-29     0.189622             20-24       0.154762
20       20           20-24     0.327151             15-19       0.322885
21       21           25-29     0.272898             10-14       0.255198
22       22           25-29     0.149943             20-24       0.136696
23       23           20-24     0.166342             15-19       0.154542
24       24           15-19     0.418807             15-19       0.398439
25       25           10-14     0.426129             15-19       0.499443
26       26           50-69     0.480737             10-14       0.470213
27       27           15-19     0.433263             15-19       0.428874
28       28           20-24     0.268427             15-19       0.254361
29       29           20-24     0.324414             15-19       0.317763
30       30           10-14     0.344619             10-14       0.339599
31       31           25-29     0.208293             20-24       0.203771
32       32           20-24     0.255765             20-24       0.258137
33       33           20-24     0.381437             15-19       0.383648
34       34           20-24     0.441125             15-19       0.436039
35       35           10-14     0.564552             10-14       0.560340

In [8]:
ageIndiaL1Df = pd.DataFrame(columns=['state/ut','age-group-males','ratio-males','age-group-females','ratio-females'])
for stCode in range(36):
    stDf = languageDf[languageDf['State Code'] == stCode].reset_index(drop=True)
    stMDf = stDf.sort_values(by=['ratioL1M'], ascending=False).reset_index(drop=True)
    stMDf = stMDf.head(1)
    stFDf = stDf.sort_values(by=['ratioL1F'], ascending=False).reset_index(drop=True)
    stFDf = stFDf.head(1)
    ageIndiaL1Df.loc[len(ageIndiaL1Df.index)] = [stCode,stMDf.iloc[0]['age-group'],stMDf.iloc[0]['ratioL1M'],stFDf.iloc[0]['age-group'],stFDf.iloc[0]['ratioL1F']]

ageIndiaL1Df

   state/ut age-group-males  ratio-males age-group-females  ratio-females
0         0             5-9     0.876821               5-9       0.876585
1         1             5-9     0.685737               70+       0.781736
2         2             5-9     0.887130               70+       0.922298
3         3             5-9     0.801164               70+       0.848261
4         4             5-9     0.713938               5-9       0.725435
5         5             5-9     0.903684               5-9       0.903566
6         6             5-9     0.906105               5-9       0.907915
7         7             5-9     0.844588               5-9       0.844506
8         8             5-9     0.939905               70+       0.941447
9         9             5-9     0.954013               5-9       0.953154
10       10             5-9     0.879816               5-9       0.880132
11       11             5-9     0.625837               5-9       0.619293
12       12             5-9     0.535681               70+       0.625470
13       13             5-9     0.672980               70+       0.693477
14       14             5-9     0.814030               5-9       0.813489
15       15             5-9     0.895288               5-9       0.898601
16       16             5-9     0.803502               70+       0.806495
17       17             5-9     0.910251               5-9       0.906486
18       18             5-9     0.737461               5-9       0.735775
19       19             5-9     0.928575               5-9       0.929845
20       20             5-9     0.796171               5-9       0.796685
21       21             5-9     0.838857               70+       0.874292
22       22             5-9     0.899148               5-9       0.903885
23       23             5-9     0.922551               5-9       0.919569
24       24             5-9     0.867415               5-9       0.871166
25       25             5-9     0.768722               5-9       0.776100
26       26             5-9     0.551498               70+       0.564497
27       27             5-9     0.768407               5-9       0.769615
28       28             5-9     0.864464               70+       0.869306
29       29             5-9     0.750905               5-9       0.750633
30       30             5-9     0.479240               5-9       0.475242
31       31             5-9     0.969203               5-9       0.974311
32       32             5-9     0.951883               5-9       0.950733
33       33             5-9     0.857816               5-9       0.856116
34       34             5-9     0.887297               5-9       0.887621
35       35             5-9     0.541645               70+       0.585013

In [9]:
ageIndiaL3Df.to_csv('age-gender-a.csv',index=False)
ageIndiaL2Df.to_csv('age-gender-b.csv',index=False)
ageIndiaL1Df.to_csv('age-gender-c.csv',index=False)